:root {
    --main-bg-color: #7fffd4;
    --cell-bg-color: #6395ed;
}
/* RESET  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
img {
    width: auto;
}

/* HEADER  */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 0 4rem;    
}
header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
}
header img {
    display: block;
    height: 50%;
    margin-right: 20px;
}
nav button {
    padding: 4px 2rem;
}
